openai~=0.28.0
Flask~=3.1.0
pinecone~=5.4.2
mysql-connector-python~=9.1.0
Gunicorn==20.1.0
requests~=2.32.3
PyMySQL~=1.1.1
bs4~=0.0.2
beautifulsoup4~=4.12.3
PyPDF2~=3.0.1
fitz~=0.0.1.dev2
SQLAlchemy~=2.0.36
flask-cors
dotenv
